<div ng-controller="HomeController as vm" id="home">
	<div class="left">
		<div class="form-group" style="width:100%;">
	        <form ><!-- ng-submit="vm.search()" -->
	            <input type="text" class="form-control" placeholder="Tìm kiếm " >
	        </form>
	    </div>
	    <h3 class="title">DANH SÁCH KHÓA HỌC</h3> 
	    <div class="list">
	    	<div class="course" ng-repeat="item in vm.listCourses">
	    		<img class="img" ng-src="http://localhost:3000/data/{{ item.id }}.jpg">
	    		<div class="info">
	    			<p class="name">{{ item.name }}</p>
	    			<p class="total-lesson">
	                    Số bài : {{ item.subject }}         
	                </p>
	                <p class="total-word">       
	                    Số từ : {{ item.word }}         
	                </p>
	    			<div class="delete-edit" ng-if="user.state == true">
	    				<a href="#/create-edit/{{ item.id }}">Edit</a>
	    				<a ng-click="vm.delete(item.id)">Delete</a>
	    			</div>
	    		</div>
	    	</div>
	    </div> 
	    <div class="pagination">
	    	<a class="page" ng-click="vm.prev()">prev</a>
	    	<a class="page" ng-class=" vm.currentPage==page ? 'active' : '' " ng-click="vm.goToPage(page)" 
	    	ng-repeat="page in vm.totalPages">
	    	 	{{ page }} 
	    	</a>
	    	<a class="page" ng-click="vm.next()">next</a>
	    </div> 
	</div>

	<div class="right" style="padding-left: 10%;">
		<div ng-include=" 'views/add-toeic.html' "></div>
	</div>
	    

</div>